{% load  static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Epitychis Info Labs Pvt.Ltd</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/new.css'%}">
    <link rel="stylesheet" href="{%static 'css/new1.css'%}">
     <link rel="stylesheet" href="{%static 'css/footer.css'%}">


    <style>
        .navbar{
        padding: 30px;
        }
    </style>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid ">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">

                  <img src="{% static 'img/logo.png'%}" class="img-circle logo" height="100" width="100" style="margin-left: -35px !important;">
                  <h3 style="position: absolute;left: 91px;;color: #fff;;top: 31px;">EPITYCHIS INFO LAB.PVT</h3>
              </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">HOME</a></li>
                  <li><a href="#what_we_are">WHAT WE ARE</a></li>

                  <li><a href="/ourprojects">OUR PROJECTS</a></li>
                  <li><a href="/careers">CAREERS</a></li>
                  <li><a href="#myFooter">CONTACT</a></li>
              </ul>
          </div><!--/.nav-collapse -->
      </div>
</nav>
<h1 align="center" style="margin-top:60px; ">OUR PROJECTS</h1>
<section class="timeline" style="margin-top: 160px;">

  <ul>

    <li>
      <img src="{% static 'img/p1.jpg'%}" style="height:147px;margin-left: -185px ;margin-top:-30px">

      <div style="border-radius: 5%;">
        <h1>DELVEIP</h1>
        <p>We have pioneered technology platforms for delivering complete IP services in the areas of IP protection, IP research and IP commercialization Our technology expertise ensures that we can scale as per our client and by remaining flexible in fulfilling their requirements.</p>
      </div>
    </li>
    <li>
      <img src="{% static  'img/p3.jpg'%}" style="height:147px;margin-left: 50px;margin-top:-30px">
      <div style="border-radius: 5%;">
        <h1>SPIELDATA</h1>
         <p style="margin-left: 30px;" >Center business fixation is information mining, offering and examination, as our group with propel specialized know how and experience can provide food the customers necessity with flawlessness on which they can completely depend.</p>
      </div>
    </li>
    <li>
      <img src="{%static  'img/p4.jpg'%}" style="height:147px;margin-left: -185px;margin-top:-30px">
      <div style="border-radius: 5%;">
        <h1>Eduforcareer</h1>
        <p>Eduforcareer attempts sincere endeavors so as Fresh Technical Graduates to rehearse Aptitude and raise their profession.  We give our earnest attempts and perceive how our future age is exceeding expectations in picking up learning as well as getting a correct stage to hone with no obstacles completely free of cost (Without any Fringes connected).</p>
      </div>
    </li>
    <li>
       <img src="{% static 'img/p5.jpg'%}" style="height:147px;margin-left: 50px;margin-top:-30px">
      <div style="border-radius: 5%;">
        <h1>WeUnita</h1>
         <p style="margin-left: 30px;">A platform for the uniting professionals to explore, share, follow, search, learn, acquaint, source and many more.</p>
      </div>
    </li>
    <li>
      <img src="{% static 'img/p7.jpg'%}" style="height:147px;margin-left: -185px;margin-top:-30px">
      <div style="border-radius: 5%;">
        <h1>IIPF</h1>
        <p >IIPF” makes an easier way to understand the
                            procedure, practices and pricing of filing IPR
                            Internationally with ease.
                            </p>
      </div>
    </li>
    <li>
       <img src="{% static 'img/p2.jpg'%}" style="height:147px;margin-left: 50px;margin-top:-30px">
      <div style="border-radius: 5%;">
        <h1>Hello Properties</h1>
        <p>Experienced in this fragment with more than two decades and by including the cutting edge and inventive innovation to make the whole procedure of purchasing, offering, to rental by simply influencing a telephone to call.</p>
      </div>
    </li>



  </ul>
</section>

<footer id="myFooter" style="margin-top: 5vh;">
        <div class="container">
            <div class="row">
               <div class="col-sm-4">
                  <h4 class="text-uppercase  text-strong">INDUSTRIES</h4>
                  <hr>
                  <ul style="list-style: none; padding-left: 0px;">
                        <li><a href="#"></a></li>
                        <li><a href="#">DelveIP</a></li>
                        <li><a href="#">SpielData</a></li>
                        <li><a href="#">We Unita</a></li>
                        <li><a href="#">Hello Properties</a></li>
                        <li><a href="#">International IP Filing</a></li>
                    </ul>
                </div>

        <div class="col-sm-4">

					<h4 class="text-uppercase text-strong">Address</h4>
					<hr>
					<div>

          <p ><i class="fa fa-home"></i><a> SF-17, 3rd floor, <br>
                                       parsvnath Bibhab Plaza,<br>
                                       Commercial Belt,<br>
                                       Alpha-1;<br>
                                       Gautam Buddha Nagar,<br>
                                       Greater Noida,<br>
                                       Uttar Pradesh-201308.<br></a>
              <i class="fa fa-phone"> </i><a>+91 1204116654s<br></a>
              <i class="fa fa-envelope"></i><a> info@epitychisinfolabs.com</a>
          </p>


          </div>

        </div>

<div class="col-sm-4">
         <h4 class="text-uppercase text-strong">Contact us</h4>
         <hr>
              <form method="post" action=""> {% csrf_token %}
                  <input name="firstname" type="text" class="feedback-input" placeholder="Name" />
                  <input name="email" type="text" class="feedback-input" placeholder="Email" />
                  <input name="mobno" type="text"class="feedback-input" placeholder="mobno" ><br>
                  <textarea name="message" class="feedback-input" placeholder="Comment"></textarea>
                  <input type="submit" value="SUBMIT"/>
             </form>
       </div>
         <div class="col-sm-4">
              <p class="right">
               <ul class="social-nav model-7">
                <li><a class="twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="linkedin"  href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="pinterest"  href=""><i class="fa fa-pinterest-p"></i></a></li>
              </ul>
                          </p>
        </div>

</div>
</div>




        <div class="footer-copyright  ">

            <p class="left">© 2018 Epitychis Info Lab Pvt. Ltd </p>

        </div>
</footer>

<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{%  static 'js/bootstrap.min.js'%}"></script>
<script src="{%  static 'js/mainjs.js'%}" type="text/javascript"></script>

<script type="text/javascript">

(function() {

  'use strict';

  // define variables
  var items = document.querySelectorAll(".timeline li");

  // check if an element is in viewport
  // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
  function isElementInViewport(el) {
    var rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  function callbackFunc() {
    for (var i = 0; i < items.length; i++) {
      if (isElementInViewport(items[i])) {
        items[i].classList.add("in-view");
      }
    }
  }

  // listen for events
  window.addEventListener("load", callbackFunc);
  window.addEventListener("resize", callbackFunc);
  window.addEventListener("scroll", callbackFunc);

})();



</script>






</body>
</html>>
